ayi.nodered
[{"id":"dc78de6d.726cb8","type":"inject","z":"78a52321.02c064","name":"20second_trigger","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"x":123,"y":341.5,"wires":[["5e0d85f0.0b5b6c"]]},{"id":"7ba90eac.ed8dc8","type":"http request","z":"78a52321.02c064","name":"send_getBalance_request","method":"use","ret":"obj","url":"","x":575,"y":339.5,"wires":[["39dc40e9.a59068"]]},{"id":"5e0d85f0.0b5b6c","type":"function","z":"78a52321.02c064","name":"getBalance","func":"global.set(\"PublicKey\",\"INSERTPUBLICKEYHERE\");\nglobal.set(\"PrivateKey\",\"INSERTPRIVATEKEYHERE\");\n\nmsg.PCK = global.get(\"PublicKey\");\nmsg.PVK = global.get(\"PrivateKey\");\n\n// BTCTurk PROD Environment\n// host = \"www.btcturk.com\";\n\n// BTCTurk TEST Environment\nhost = \"btctrader-broker-btcturk.azurewebsites.net\";\n\nprotocol = \"https\";\ncommand = \"/api/balance\";\nmsg.url = protocol + \"://\" + host + command;\nmsg.method = \"GET\"\n\n// decode the private key\nvar buffer = new Buffer(msg.PVK, 'base64');\nmsg.PVK_binary = buffer.toString('binary');\n\nmsg.Stamp = parseInt(Date.now().toString());\n\nvar crypto = global.get(\"crypto\");\nvar text   = msg.PCK + msg.Stamp;\nvar hmac;\nhmac = crypto.createHmac('sha256', msg.PVK_binary,true);\nhmac.setEncoding('base64');\nhmac.write(text);\nhmac.end();\n// read out hmac digest\nmsg.Signature = hmac.read(); \n\nmsg.headers = {\n       \"X-PCK\":msg.PCK,\n       \"X-Stamp\":msg.Stamp,\n       \"X-Signature\":msg.Signature\n  };\n  \nmsg.payload = \"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":341.5,"wires":[["7ba90eac.ed8dc8"]]},{"id":"39dc40e9.a59068","type":"function","z":"78a52321.02c064","name":"balance_response","func":"// bitcoin_balance\nmsg.payload.old_bitcoin_balance = parseFloat(global.get(\"bitcoin_balance\")) || 0;\nglobal.set(\"bitcoin_balance\",msg.payload.bitcoin_balance);\nmsg.payload.new_bitcoin_balance = global.get('bitcoin_balance');\nmsg.payload.bitcoin_balance_increase = parseFloat(msg.payload.new_bitcoin_balance) - parseFloat(msg.payload.old_bitcoin_balance);\nmsg.payload.bitcoin_balance_increase = msg.payload.bitcoin_balance_increase.toFixed(8);\n\n// money_balance\nmsg.payload.old_money_balance = parseFloat(global.get(\"money_balance\")) || 0;\nglobal.set(\"money_balance\",msg.payload.money_balance);\nmsg.payload.new_money_balance = global.get('money_balance');\nmsg.payload.money_balance_increase = parseFloat(msg.payload.new_money_balance) - parseFloat(msg.payload.old_money_balance);\nmsg.payload.money_balance_increase = msg.payload.money_balance_increase.toFixed(8);\n\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":485,"wires":[["e969385c.0d9d68","a116f8a1.8b8578","135667aa.6f9e78"]]},{"id":"e969385c.0d9d68","type":"debug","z":"78a52321.02c064","name":"","active":true,"console":"false","complete":"payload","x":394,"y":440.5,"wires":[]},{"id":"a116f8a1.8b8578","type":"switch","z":"78a52321.02c064","name":"bitcoin_balance_increased","property":"payload.bitcoin_balance_increase","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":621,"y":479,"wires":[["ac546a3e.243cd8"],["4f9fcf6f.0bb37","8cfd5fc0.70362","42b0c377.67c6f4"]]},{"id":"ac546a3e.243cd8","type":"debug","z":"78a52321.02c064","name":"","active":true,"console":"false","complete":"payload.old_bitcoin_balance","x":918,"y":337.5,"wires":[]},{"id":"4f9fcf6f.0bb37","type":"debug","z":"78a52321.02c064","name":"","active":true,"console":"false","complete":"payload.bitcoin_balance_increase","x":973,"y":382.5,"wires":[]},{"id":"8cfd5fc0.70362","type":"e-mail","z":"78a52321.02c064","server":"smtp.gmail.com","port":"465","name":"YOUREMAILADDRESS@gmail.com","dname":"","x":935,"y":435.5,"wires":[]},{"id":"bd410fec.371ae","type":"http request","z":"78a52321.02c064","name":"send_sell_request","method":"use","ret":"obj","url":"","x":899,"y":544,"wires":[["f7ca9668.bae1a8"]]},{"id":"f7ca9668.bae1a8","type":"debug","z":"78a52321.02c064","name":"","active":true,"console":"false","complete":"false","x":1080,"y":544.5,"wires":[]},{"id":"61294e35.e2c7e","type":"debug","z":"78a52321.02c064","name":"","active":true,"console":"false","complete":"true","x":1077,"y":483.5,"wires":[]},{"id":"42b0c377.67c6f4","type":"function","z":"78a52321.02c064","name":"sell_bitcoin","func":"msg.PCK = \"56fb769105dacb735c95d2cb\";\nmsg.PVK = \"BC2L6PZuJnAo0HLcHUgNrbTtQKt08emG\";\n\nprotocol = \"https\"\n// host = \"www.btcturk.com\";\nhost = \"btctrader-broker-btcturk.azurewebsites.net\";\n\ncommand = \"/api/sell\";\nmsg.url = protocol + \"://\" + host + command;\nmsg.method = \"POST\"\n\nvar buffer = new Buffer(msg.PVK, 'base64');\nmsg.PVK_binary = buffer.toString('binary');\n\nmsg.Stamp = parseInt(Date.now().toString());\n\nvar crypto = global.get(\"crypto\");\nvar text   = msg.PCK + msg.Stamp;\nvar hmac;\nmsg.Text = text;\n\nhmac = crypto.createHmac('sha256', msg.PVK_binary,true);\n// change to 'binary' if you want a binary digest\nhmac.setEncoding('base64');\n// write in the text that you want the hmac digest for\nhmac.write(text);\n// you can't read from the stream until you call end()\nhmac.end();\n// read out hmac digest\nmsg.Signature = hmac.read(); \nmsg.AmountToSell = msg.payload.bitcoin_balance_increase;\nmsg.payload = '{\"ismarketorder\":\"1\",\"type\":\"SellBtc\",\"amount\":\"' + msg.AmountToSell +'\",\"total\":\"0\",\"price\":\"0\"}';\n\nmsg.headers = {\n       \"Content-type\":\"application/json\",\n       \"Content-length\": msg.payload.length,\n       \"X-PCK\":msg.PCK,\n       \"X-Stamp\":msg.Stamp,\n       \"X-Signature\":msg.Signature\n  };\n  \n\nreturn msg;","outputs":1,"noerr":0,"x":878,"y":484,"wires":[["bd410fec.371ae","61294e35.e2c7e"]]},{"id":"135667aa.6f9e78","type":"switch","z":"78a52321.02c064","name":"TL_balance_increased","property":"payload.money_balance_increase","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":153,"y":557,"wires":[["2d121342.73baf4"],["ce8d5ab0.504ef8","400dc90f.8141a8"]]},{"id":"ce8d5ab0.504ef8","type":"e-mail","z":"78a52321.02c064","server":"smtp.gmail.com","port":"465","name":"YOUREMAILADDRESS@gmail.com","dname":"","x":417,"y":579,"wires":[]},{"id":"2d121342.73baf4","type":"debug","z":"78a52321.02c064","name":"","active":true,"console":"false","complete":"payload.old_money_balance","x":438,"y":531,"wires":[]},{"id":"400dc90f.8141a8","type":"debug","z":"78a52321.02c064","name":"","active":true,"console":"false","complete":"payload.money_balance_increase","x":411,"y":627,"wires":[]}]
