ayi.nodered
[{"id":"8e54dfb0.2085e","type":"inject","z":"997a6345.a221b","name":"20second_trigger","topic":"","payload":"","payloadType":"date","repeat":"20","crontab":"","once":false,"x":168,"y":165,"wires":[["b0bd144a.09f2f8"]]},{"id":"5654fb99.bd0aa4","type":"http request","z":"997a6345.a221b","name":"send_getBalance_request","method":"use","ret":"obj","url":"","x":620,"y":163,"wires":[["7140a2c2.936c6c"]]},{"id":"b0bd144a.09f2f8","type":"function","z":"997a6345.a221b","name":"getBalance","func":"global.set(\"PublicKey\",\"INSERTPUBLICKEYHERE\");\nglobal.set(\"PrivateKey\",\"INSERTPRIVATEKEYHERE\");\n\nmsg.PCK = global.get(\"PublicKey\");\nmsg.PVK = global.get(\"PrivateKey\");\n\n// BTCTurk PROD Environment\n// host = \"www.btcturk.com\";\n\n// BTCTurk TEST Environment\nhost = \"btctrader-broker-btcturk.azurewebsites.net\";\n\nprotocol = \"https\";\ncommand = \"/api/balance\";\nmsg.url = protocol + \"://\" + host + command;\nmsg.method = \"GET\"\n\n// decode the private key\nvar buffer = new Buffer(msg.PVK, 'base64');\nmsg.PVK_binary = buffer.toString('binary');\n\nmsg.Stamp = parseInt(Date.now().toString());\n\nvar crypto = global.get(\"crypto\");\nvar text   = msg.PCK + msg.Stamp;\nvar hmac;\nhmac = crypto.createHmac('sha256', msg.PVK_binary,true);\nhmac.setEncoding('base64');\nhmac.write(text);\nhmac.end();\n// read out hmac digest\nmsg.Signature = hmac.read(); \n\nmsg.headers = {\n       \"X-PCK\":msg.PCK,\n       \"X-Stamp\":msg.Stamp,\n       \"X-Signature\":msg.Signature\n  };\n  \nmsg.payload = \"\";\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":165,"wires":[["5654fb99.bd0aa4"]]},{"id":"7140a2c2.936c6c","type":"function","z":"997a6345.a221b","name":"balance_response","func":"// bitcoin_balance\nmsg.payload.old_bitcoin_balance = parseFloat(global.get(\"bitcoin_balance\")) || 0;\nglobal.set(\"bitcoin_balance\",msg.payload.bitcoin_balance);\nmsg.payload.new_bitcoin_balance = global.get('bitcoin_balance');\nmsg.payload.bitcoin_balance_increase = parseFloat(msg.payload.new_bitcoin_balance) - parseFloat(msg.payload.old_bitcoin_balance);\nmsg.payload.bitcoin_balance_increase = msg.payload.bitcoin_balance_increase.toFixed(8);\n\n// money_balance\nmsg.payload.old_money_balance = parseFloat(global.get(\"money_balance\")) || 0;\nglobal.set(\"money_balance\",msg.payload.money_balance);\nmsg.payload.new_money_balance = global.get('money_balance');\nmsg.payload.money_balance_increase = parseFloat(msg.payload.new_money_balance) - parseFloat(msg.payload.old_money_balance);\nmsg.payload.money_balance_increase = msg.payload.money_balance_increase.toFixed(8);\n\nreturn msg;","outputs":1,"noerr":0,"x":205,"y":308.5,"wires":[["99bc65c3.bfe308","85059bc3.7c1858","958b1c9c.317fe"]]},{"id":"99bc65c3.bfe308","type":"debug","z":"997a6345.a221b","name":"","active":true,"console":"false","complete":"payload","x":439,"y":264,"wires":[]},{"id":"85059bc3.7c1858","type":"switch","z":"997a6345.a221b","name":"bitcoin_balance_increased","property":"payload.bitcoin_balance_increase","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":666,"y":302.5,"wires":[["cd27977.3903668"],["a938b0a0.5c91a","d163d657.6028b8","74a1348d.e9345c"]]},{"id":"cd27977.3903668","type":"debug","z":"997a6345.a221b","name":"","active":true,"console":"false","complete":"payload.old_bitcoin_balance","x":963,"y":161,"wires":[]},{"id":"a938b0a0.5c91a","type":"debug","z":"997a6345.a221b","name":"","active":true,"console":"false","complete":"payload.bitcoin_balance_increase","x":1018,"y":206,"wires":[]},{"id":"d163d657.6028b8","type":"e-mail","z":"997a6345.a221b","server":"smtp.gmail.com","port":"465","name":"YOUREMAILADDRESS@gmail.com","dname":"","x":980,"y":259,"wires":[]},{"id":"7509d26c.38599c","type":"http request","z":"997a6345.a221b","name":"send_sell_request","method":"use","ret":"obj","url":"","x":944,"y":367.5,"wires":[["8e8b3084.c2f0e"]]},{"id":"8e8b3084.c2f0e","type":"debug","z":"997a6345.a221b","name":"","active":true,"console":"false","complete":"false","x":1125,"y":368,"wires":[]},{"id":"c88a0a4b.bb1008","type":"debug","z":"997a6345.a221b","name":"","active":true,"console":"false","complete":"true","x":1122,"y":307,"wires":[]},{"id":"74a1348d.e9345c","type":"function","z":"997a6345.a221b","name":"sell_bitcoin","func":"msg.PCK = global.get(\"PublicKey\");\nmsg.PVK = global.get(\"PrivateKey\");\n\nprotocol = \"https\"\n// host = \"www.btcturk.com\";\nhost = \"btctrader-broker-btcturk.azurewebsites.net\";\n\ncommand = \"/api/sell\";\nmsg.url = protocol + \"://\" + host + command;\nmsg.method = \"POST\"\n\nvar buffer = new Buffer(msg.PVK, 'base64');\nmsg.PVK_binary = buffer.toString('binary');\n\nmsg.Stamp = parseInt(Date.now().toString());\n\nvar crypto = global.get(\"crypto\");\nvar text   = msg.PCK + msg.Stamp;\nvar hmac;\nmsg.Text = text;\n\nhmac = crypto.createHmac('sha256', msg.PVK_binary,true);\n// change to 'binary' if you want a binary digest\nhmac.setEncoding('base64');\n// write in the text that you want the hmac digest for\nhmac.write(text);\n// you can't read from the stream until you call end()\nhmac.end();\n// read out hmac digest\nmsg.Signature = hmac.read(); \nmsg.AmountToSell = msg.payload.bitcoin_balance_increase;\nmsg.payload = '{\"ismarketorder\":\"1\",\"type\":\"SellBtc\",\"amount\":\"' + msg.AmountToSell +'\",\"total\":\"0\",\"price\":\"0\"}';\n\nmsg.headers = {\n       \"Content-type\":\"application/json\",\n       \"Content-length\": msg.payload.length,\n       \"X-PCK\":msg.PCK,\n       \"X-Stamp\":msg.Stamp,\n       \"X-Signature\":msg.Signature\n  };\n  \n\nreturn msg;","outputs":1,"noerr":0,"x":923,"y":307.5,"wires":[["7509d26c.38599c","c88a0a4b.bb1008"]]},{"id":"958b1c9c.317fe","type":"switch","z":"997a6345.a221b","name":"TL_balance_increased","property":"payload.money_balance_increase","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":198,"y":380.5,"wires":[["862e456c.ea0fb8"],["ecc7cf0a.cc9af","f366fa9.0ccfb08"]]},{"id":"ecc7cf0a.cc9af","type":"e-mail","z":"997a6345.a221b","server":"smtp.gmail.com","port":"465","name":"YOUREMAILADDRESS@gmail.com","dname":"","x":462,"y":402.5,"wires":[]},{"id":"862e456c.ea0fb8","type":"debug","z":"997a6345.a221b","name":"","active":true,"console":"false","complete":"payload.old_money_balance","x":483,"y":354.5,"wires":[]},{"id":"f366fa9.0ccfb08","type":"debug","z":"997a6345.a221b","name":"","active":true,"console":"false","complete":"payload.money_balance_increase","x":456,"y":450.5,"wires":[]}]
